*{
    margin: 0;
    padding: 0;
}
body{
    height:100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container{
    height:60%;
    width:25%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}
h1{
    color: rgb(35, 130, 161);
    height:20%;
    position: relative;
    top:-5%;
}
input{
    height:10%;
    width:80%;
    position: relative;
    top:-10%;
    border-radius: 10px;
}
button{
    font-size: 1.5rem;
    height:15%;
    width:80%;
    background-color: rgb(35, 130, 161);
    border-radius: 10px;
    color: #fff;
}
button:hover{
    background-color: rgb(80, 167, 80);
}
.img_box{
    margin-top: -5%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}